<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1>TIENDA</h1>
    <h2>Piensa lento, actua rapido</h2>
  </header>

  <article>
    <section>
      <h1><a href="https://ancient-plains-84667.herokuapp.com/api/v1/productos">Productos</a></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur accusamus sunt laudantium veniam aliquid porro, sint aut dolor sapiente quae cupiditate, quasi dolorem numquam temporibus suscipit libero ea quia similique!</p>
    </section>

    <section>
      <h1><a href="https://ancient-plains-84667.herokuapp.com/api/v1/categorias">Categorias</a></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur accusamus sunt laudantium veniam aliquid porro, sint aut dolor sapiente quae cupiditate, quasi dolorem numquam temporibus suscipit libero ea quia similique!</p>
    </section>

    <section>
      <h1><a href="https://ancient-plains-84667.herokuapp.com/api/v1/usuarios">Usuarios</a></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur accusamus sunt laudantium veniam aliquid porro, sint aut dolor sapiente quae cupiditate, quasi dolorem numquam temporibus suscipit libero ea quia similique!</p>
    </section>
  </article>

  <footer>
    <p>bscanon2@misena.edu.co</p>
  </footer>
</body>
</html>
